target/
*.class
*.jar
*.war
*.ear
*.log
*.mv.db
*.trace.db
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
.vscode/
bin/
out/
.DS_Store
clinix_data/
clinix_data.mv.db
clinix_data.trace.db
onnxruntime.dll
onnxruntime4j_jni.dll
startup.log
